@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Inter", sans-serif;
  color: #333;
}

.bg-gray-50 {
  background-color: #f9fafb;
}

.text-gray-800 {
  color: #1f2937;
}

@media (max-width: 640px) {
  .chart-buttons {
    padding: 0.25rem;
    font-size: 0.875rem;
  }
  .chart-container {
    padding: 1rem;
  }
}
